h2 {
  margin: 10px auto;
}
ul {
  list-style-type: none;
  margin: 10px auto;
  padding: 0px;
  font-size: 20px;
}

h6 {
  text-align: center;
  margin: 0px auto;
  font-size: 15px;
}

.weather-app {
  max-width: 600px;
  padding: 20px;
  border: 1px solid;
  border-radius: 5px;
  text-align: left;
  margin-top: 30px;
  margin-bottom: 10px;
  display: block;
}

.buttons {
  margin: 20px auto;
}

.currentTemperature {
  margin: 0px;
  text-align: right;
  padding: 10px, 0px, 10px, 10px;
  display: block;
  font-size: 30px;
}

.source-code {
  max-width: 600px;
}
