h2 {
  margin: 10px auto;
}

li {
  text-transform: capitalize;
}

ul {
  list-style-type: none;
  margin: 10px auto;
  padding: 0px;
  font-size: 20px;
}

.weather-app {
  position: relative;
  max-width: 600px;
  padding: 20px;
  border: 1px solid;
  border-radius: 5px;
  text-align: left;
  margin-top: 30px;
  margin-bottom: 10px;
  display: block;
}

.buttons {
  margin: 20px auto;
}

.currentTemperature {
  margin: 0px;
  text-align: right;
  padding: 10px, 0px, 10px, 10px;
  font-size: 60px;
}

.sourceCode {
  text-align: center;
}

.col-right {
  text-align: right;
}

.units {
  position: relative;
  top: -28px;
  font-size: 20px;
  text-align: center;
}
